@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$enable-important-utilities: false;

body {
  background: linear-gradient($primary, $cyan);
}

.errorText,
.editForm {
  display: none;
}

.min-width {
  min-width: 300px;
}

// .post-margin {
//   margin: 30px;
// }
